* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 50px;
  }
  nav.perfil {
    border: 15px solid rgb(255, 241, 117);
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: khaki;
   
  }
  nav.perfil img {
    width: 200px;
    margin-top: -80px;
  }
  main {
    border: 10px solid rgb(196, 247, 253);
    width: 950px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    background-color: rgb(231, 253, 255);
  }
  main p {
    border: 10px solid rgb(247, 213, 162);
    padding: 10px;
    width: 800px;
    text-align: justify;
    background-color: #fff8f0;
 
 
  }
  button
        {
    border: 1px solid rgb(248, 177, 97);
    background-color: rgb(255, 206, 143);
    color: rgb(255, 181, 96);
    border-radius: 10px;
    transition: 5s;
 
 }
 button:hover {
    margin-top: 20px;
 }
 
 
 
 
 #cover {
    width: 200px;
    height: 200px;
 }
 


